NODE_ENV=development

# URL publica que expone la carpeta externa "imagenes".
# Ejemplo: https://crv4mayorista.com.ar/imagenes
NEXT_PUBLIC_ASSETS_BASE_URL=
NEXT_PUBLIC_SITE_URL=http://localhost:3000

DATABASE_HOST=127.0.0.1
DATABASE_PORT=3306
DATABASE_NAME=crv4
DATABASE_USER=app_user
DATABASE_PASSWORD=change-me
